@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  overflow: hidden; /* prevents scrollbar on header */
}

/* Hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}


.glass-input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 12px;
  background: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.15);
  color: white;
  font-size: 14px;
  outline: none;
}

.glass-input::placeholder {
  color: rgba(255,255,255,0.4);
}

.glass-input:focus {
  border-color: rgba(34,197,94,0.6);
}

